@using Data;
@using Radzen.Blazor
@using Blazored.Typeahead

<div class="form-group">
    <h3>Tenant Name:</h3>
    @*<RadzenAutoComplete Data="@Tenants" TextProperty="name" Change="@(args => Change(args, "AutoComplete"))" Style="width:400px;" />*@
    <BlazoredTypeahead SearchMethod="SearchTenants"
                        @bind-Value="SelectedTenant">
        <SelectedTemplate>
            @context.name
        </SelectedTemplate>
        <ResultTemplate>
            @context.name
        </ResultTemplate>
    </BlazoredTypeahead>
</div>
<RadzenButton Click="@onClick" Text="Search"/>



@code {
    public Tenant SelectedTenant;

    [Parameter]
    public EventCallback<Tenant> OnSearch { get; set; }

    [Parameter]
    public List<Tenant> Tenants { get; set; }

    void onClick()
    {
        OnSearch.InvokeAsync(SelectedTenant);
    }

    void Change(object value, string name)
    {
        SelectedTenant  = Tenants.Find(t => t.name.Equals((string)value));
    }

    private async Task<IEnumerable<Tenant>> SearchTenants(string searchText)
    {
        return await Task.FromResult(Tenants.Where(x => x.name.ToLower().Contains(searchText.ToLower())).ToList());
    }

}
